/* Generel layout og struktur */
html, body {
    height: 100%;
    overflow: visible;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navbar styling */
.navbar {
    position: sticky;
    top: 0;
    padding: 10px 20px;
    margin: 0 auto;
    z-index: 1030; /* Sørger for, at den altid vises over indholdet */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Giver lidt skygge for separation */
}

.search-bar {
    position: absolute;
    margin-left: 30%;
    padding: 10px;
    font-size: 16px;
    width: 40%;
}

.fixed-element {
    margin-left: 60%;
    top: 20px;
    right: 80px;
}

/* Card styling */
.card {
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.card-title {
    flex-shrink: 0;
}

.card-text {
    flex-grow: 1;
}

.card-body .btn {
    margin-top: auto;
}

/* Shadow man icon */
.nav-item.dropdown img {
    border-radius: 50%; /* Makes the icon circular */
    cursor: pointer;
}

.nav-item.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
}

/* Carousel styling */
#relatedProductsCarousel .carousel-inner .carousel-item {
    padding: 10px;
}

#relatedProductsCarousel .carousel-item .card {
    height: 100%;
}

#relatedProductsCarousel {
    position: relative;
}

#relatedProductsCarousel .carousel-control-prev,
#relatedProductsCarousel .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#relatedProductsCarousel .carousel-control-prev {
    left: -40px; /* Move the previous button outside */
}

#relatedProductsCarousel .carousel-control-next {
    right: -40px; /* Move the next button outside */
}

#relatedProductsCarousel .carousel-control-prev-icon,
#relatedProductsCarousel .carousel-control-next-icon {
    background-color: #000; /* Adjust the color of the arrows for visibility */
}

/* Footer styling */
.footer {
    position: relative;
    margin-top: auto;
    border-top: 1px solid #ddd;
    color: #333;
    background-color: #f8f9fa;
}

.footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer a {
    text-decoration: none;
    color: #007bff;
}

.footer a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.footer img {
    cursor: pointer;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 28%;
}
.footer.row {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

