.card {
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.card-title {
    flex-shrink: 0;
}

.card-text {
    flex-grow: 1;
}

.card-body .btn {
    margin-top: auto;
}

/* Optional: Adjust the shadow man icon size */
.nav-item.dropdown img {
    border-radius: 50%; /* Makes the icon circular */
    cursor: pointer;
}

/* Optional: Add hover effects */
.nav-item.dropdown .dropdown-menu {
    transition: all 0.3s ease-in-out;
}

.navbar {
    padding: 10px 20px;
    margin: 0 auto;
}

.navbar-nav .nav-link img {


}


.search-bar {
    position: absolute;
    margin-left: 30%;
    padding: 10px;
    font-size: 16px;
    width: 40%;
}


.fixed-element {
    margin-left: 70%;
    top: 20px;
    right: 80px;
}

.modal-content {
    background-color: #f9f9f9;
    border-radius: 10px;
}
.modal-header {
    background-color: #007bff;
    color: white;
    border-bottom: 2px solid #0056b3;
}

#relatedProductsCarousel .carousel-inner .carousel-item {
    padding: 10px;
}

#relatedProductsCarousel .carousel-item .card {
    height: 100%;
}

#relatedProductsCarousel {
    position: relative;
}

#relatedProductsCarousel .carousel-control-prev,
#relatedProductsCarousel .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#relatedProductsCarousel .carousel-control-prev {
    left: -40px; /* Move the previous button outside */
}

#relatedProductsCarousel .carousel-control-next {
    right: -40px; /* Move the next button outside */
}

#relatedProductsCarousel .carousel-control-prev-icon,
#relatedProductsCarousel .carousel-control-next-icon {
    background-color: #000; /* Adjust the color of the arrows for visibility */
}